html
    head
        title Users

    body
        div
            table(border=1)
                each user in users
                    td
                        h3= `First Name: ${user.first_name}`
                        h3= `Last Name: ${user.last_name}`
                        p= `Age: ${user.age}`
                        p= `Email: ${user.email}`
                        form(action=`/removeUser/${user.id}`, method="post")
                            button(type="submit") Delete
                        a(href=`/editUser/${user.id}`)
                            button Edit

        a(href="/") Add Another Student